@import "./styles/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: var(--background);
    background-image: url("../public/DarkBackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-primary);
} */

/* Utility classes for custom colors */
/* .bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-surface {
    background-color: var(--surface);
}
.text-primary {
    color: var(--text-primary);
}
.text-secondary {
    color: var(--text-secondary);
}
.border-primary {
    border-color: var(--primary);
} */
